<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Option</title>
</head>
<body>
<table> 
<tr> 
	<td th:text="${car.carYear}" /> 
	<td th:text="${car.carBrand}" /> 
	<td th:text="${car.carType}" /> 
</table>
<form th:object="${newOption}" th:action="@{/manager/addOption/{id}(id=${car.id})}" method='POST' >
Option: <input name="optionName" size="50" th:field="*{optionName}"><br /> 
<input name="submit" type="submit" value="submit" />
</form>
</body>
</html>