<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All Cars</title>
</head>
<body>
<form>
<table>
<tr>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Type</th>
    <th>Color</th>
</tr>
<tr th:each="currentCar : ${cars}" >
	<td th:text="${currentCar.carBrand}" />
	<td th:text="${currentCar.carName}" />
	<td th:text="${currentCar.carYear}" />
	<td th:text="${currentCar.carType}" />
	<td th:text="${currentCar.carColor}" />
	<td><a th:href="@{/customer/carOptions/{id}(id=${currentCar.id})}">Options </a></td>
	<td><a th:href="@{/customer/purchase/{id}(id=${currentCar.id})}">Purchase</a></td>
</tr>
</table>
</form>
</body>
</html>