<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Purchase Options</title>
<script type="text/javascript">

</script>
</head>
<body>

<H2>Confirm the details of your purchase:</H2>

Make : <span th:text = "${thisCar.carBrand}">Brand</span><br />
Model : <span th:text = "${thisCar.carName}">Name</span><br />
Year : <span th:text = "${thisCar.carYear}">Year</span><br />
Type : <span th:text = "${thisCar.carType}">Type</span><br />
Color : <span th:text = "${thisCar.carColor}">Type</span><br /><br />

Options: 
<div th:each="option,o: ${thisCar.getOptions()}">

	<div th:text= "${option.getOptionName()}"></div>

</div>
<br />
<br />

<strong>If you would like to customize your car color, please enter your preferred color below</strong>
<form th:object="${thisCar}">

Car Color: <input name="carColor" size="20" th:field="*{carColor}"><br/><br/>


If you wish to proceed with your purchase, click submit. <br/><br/>
<input name="submit" type="submit" value="submit"/>
</form>


</body>
</html>