<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Receipt</title>
</head>
<body>
<H1>Thank you  <span th:text = "${order.customer.cName}">First Name</span> for purchasing a new car!</H1> <br/><br/>

Customer name: <span th:text = "${order.customer.cName}">First Name</span> <span th:text = "${order.customer.cLastName}">Last Name</span><br/>
Customer phone number: <span th:text = "${order.customer.cPhone}">Phone</span><br/><br/>

Make : <span th:text = "${order.car.carBrand}">Brand</span><br />
Model : <span th:text = "${order.car.carName}">Name</span><br />
Year : <span th:text = "${order.car.carYear}">Year</span><br />
Type : <span th:text = "${order.car.carType}">Type</span><br />
Color : <span th:text = "${order.car.carColor}">Type</span><br />
Price : <span th:text = "${order.car.carPrice}">Price</span><br /><br />

Options: 
<div th:each="option,o: ${order.car.getOptions()}">

	<div th:text= "${option.getOptionName()}"></div>

</div>

</body>
</html>